/* //HERE WE HAVE CSS FOR ADMIN DASHBOARD */

ul{
    flex-direction: column;
    gap: 0rem;
}

.admin-container {
  display: flex;
  min-height: 80vh; 
}

.sidebar {
  width: 220px;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a.active {
  font-weight: bold;
  color: blue;
}

.content {
  flex: 1;
  padding: 20px;
}


/* AND HERE WE HAVE CSS FOR USERS DISPLAY */

.users,.contacts{
    height: 60vh;
    width: 150vh;
    border: 3px solid blue;
}