.container{
    height: 60vh;
    width: 50vh;
    border: 3px red solid;

}

ul{
    flex-direction: column;
    gap: -5vh;
}

.admin-container {
  display: flex;
  min-height: 80vh; 
}

.sidebar {
  width: 220px;
  background: #f5f5f5;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a.active {
  font-weight: bold;
  color: blue;
}

.content {
  flex: 1;
  padding: 20px;
  background: #fff;
}
