nav{
    display: flex;
    background-color: #000000ad;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    text-decoration: none;
    font-weight: 700;
}
ul Navlink li{
    text-decoration: double;
    color: #656bff;
} 